.box {
    position: relative;
    width: 1200px;
    height: 900px;
    background: url('/assets/img/logo.jpg');
    .conA {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .conB {
        position: absolute;
        left: 10px;
        bottom: 20%;
    }
    .conC {
        position: absolute;
        left: 20%;
        top: 10px;
    }
}
